html { overflow-x: hidden; } /*for the elusive mobile horizontal scrollbar*/
body { margin: 0; }

header {
	height: 150px;
	border-bottom: gold 6px ridge;
	padding-bottom: 25px;
	background:
	repeating-linear-gradient(190deg, rgba(255, 0, 0, 0.5) 40px,
	  rgba(255, 153, 0, 0.5) 80px, rgba(255, 255, 0, 0.5) 120px,
	  rgba(0, 255, 0, 0.5) 160px, rgba(0, 0, 255, 0.5) 200px,
	  rgba(75, 0, 130, 0.5) 240px, rgba(238, 130, 238, 0.5) 280px,
	  rgba(255, 0, 0, 0.5) 300px),
	repeating-linear-gradient(-190deg, rgba(255, 0, 0, 0.5) 30px,
	  rgba(255, 153, 0, 0.5) 60px, rgba(255, 255, 0, 0.5) 90px,
	  rgba(0, 255, 0, 0.5) 120px, rgba(0, 0, 255, 0.5) 150px,
	  rgba(75, 0, 130, 0.5) 180px, rgba(238, 130, 238, 0.5) 210px,
	  rgba(255, 0, 0, 0.5) 230px),
	repeating-linear-gradient(23deg, red 50px, orange 100px,
	  yellow 150px, green 200px, blue 250px,
	  indigo 300px, violet 350px, red 370px);
}

h1 {
	text-align: center;
	margin: 0;
	padding-top: 45px;
	font-size: 65px;
	font-family: "Archivo", sans-serif;
	white-space: nowrap;
}

main {
	display: flex;
	flex-direction: column;
	background-color: hsl(180, 100%, 99%);
	background-image: url("./diemond.svg");

}

p {
	font-family: arial;
	margin-bottom: 20px;
}

/*
FUN FONTS ON 1001fonts.com
Dale Harris
Bradley gratis
Shallow Grave BB + 1
animals are like people
distro + 10
FLICKER DEMO
tomorrow comes today
knee to the face

*/

.single-project {
	max-width: 608px; /*for the big screens*/
	padding-left: 20px;
	width: 40%;
	border-right: ridge 5px gold;
	border-left: ridge 5px gold;
	padding-right: 40px;
	display: flex;
	margin: 0 auto 0 auto;
	padding-bottom: 70px;
	background-color: white;
	min-height: 150px;
}

#first-project {
	margin-top: 60px;
    padding-top: 45px;
    border-radius: 10px 10px 0 0;
    border-top: 5px ridge gold;
}

#container {
	display: flex;
}

#last-project {
	margin-bottom: 70px;
    border-radius: 0 0 10px 10px;
    border-bottom: 5px ridge gold;
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
}

#blog-img { padding-top: 5px; }

.live-code {
	display: flex;
	flex-direction: column;
}

img { width: 200px; }

#rus-img { padding-top: 5px; }

h2 {
	margin: 0;
	font-family: 'Amatic SC', cursive;
	font-weight: normal;
	font-size: xxx-large;
}

.description {
	margin-left: 12px;
	min-height: 150px;
}

a {
	cursor: pointer;
    font-family: arial;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
	font-size: small;
}

.live {
	padding-right: 10px;
}

#skills {
	color: dodgerblue;
	margin: 50px 18px 18px auto;
}

br { display: none; }

@media(max-width: 1250px) {
	.single-project {
		width: 60%;
	}
}

@media(max-width: 850px) {
	.single-project {
		width: 75%;
	}
}

@media(max-width: 600px) { img { display: none; } h2 { font-size: xx-large; } }

/*mobile styles roughly*/
@media (max-width: 450px) {
	h1 {
    	font-size: 13vw;
		padding: 0;
		margin: 0; /*idk if neccessary*/
	}

	header {
		margin: 6vw 0 7vw 0;
		background-image: none;
		background-color: rgb(255, 0, 0, 80%);
		border-bottom: none;
		height: 80px;
    	display: flex;
    	align-items: center;
    	justify-content: center;
		padding: 0;
	}

	html {
		/*background:
			linear-gradient(
				rgba(0,0,0,1) 7%,
				rgba(255,255,255,1) 100%
			);*/
	}

	.single-project {
		width: 90vw;
		border: none;
		background-color: transparent;
		flex-direction: column;
		margin: 0 auto 0 auto;
		padding: 0;
	}

	.live-code {
		background-color: white;
		/*display: flex;*/
		display: none; /*if u decide to get rid of pics after all. Otherwise, use the above display*/
		width: 90vw;
		flex-direction: column;
	}

	h2 {
		font-size: x-large;
		text-align: center;
		color: aquamarine;
	}

	p {
		font-size: small;
		width: unset;
	}

	a { color: aquamarine; }

	body {
		background-color: maroon;
		min-height: 100vh;
	}

	#first-project {
		border: none;
		margin: 0;
		padding: 0;
	}

	img {
		width: 100px;
		margin: 0 auto 0 auto;
	}

	.description {
		/*background-color: rgba(256, 256, 256, 70%); this color was used together w gradient*/
		margin: 0;
		padding: 17px 17px 10px 17px;
		color: white;
		min-height: 140px;
	}

	main {
		width: 90vw;
		background-color: rgb(220,20,60, 50%); /*define color here for all main content bg*/
		margin: 0 auto 15px auto;
		border-radius: 10px;
		border: 3px ridge aquamarine;
	}

	#last-project {
		margin: 0;
		padding: 0;
		border: none;
	}

	#last-project #container {
		display: flex;
		flex-direction: column;
	}

	#skills {
		margin: 0 0 30px 17px;
		color: chartreuse;
	}

	br { display: block; }
	span {
		font-weight: bold;
		font-size: 27px;
		font-family: 'Amatic SC';
	}
}
